
# exclude everything except directories Cat and Media
# exclude everything
/*
# dont exclude folder Cat
!/Cat
# exclude everythng within flder Cat
/Cat/*
# dont exclude Cat/Includes, Cat/PostProcessing, Cat/Scripts
!/Cat/Includes*
!/Cat/Scripts*
!/Cat/PhysicallyBasedCamera*

# dont exclude folder Media
!/Media
/Media/*.meta


**/[Hh]istory/
[Hh]istory.meta
Cat/Includes/NoiseLib.cginc
Cat/Includes/NoiseLib.cginc.meta

